@charset "UTF-08";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
 
/* Cabeçalho */
header{
    background-color: #233261;
    color: #fff;
    width: 100%;
    height: 10vh;
    text-align: center;
    margin: auto;
    padding: 15px;
    border-bottom: 2px solid #132761;
}

/*Corpo Galeria */
.container{
    background-color: #eee;
    min-height: 60vh;
    padding: 50px;
}
.product-container{
    max-width: 1200px;
    margin:  0 auto;
    
}

.cards{
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
}

.imagens{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

#img1{
    background-image: url(imagens/tenis1.jpg);
}
#img2{
    background-image: url(imagens/tenis2.jpg);
}
#img3{
    background-image: url(imagens/tenis3.jpg);
}
#img4{
    background-image: url(imagens/tenis4.jpg);
}
#img5{
    background-image: url(imagens/tenis5.jpg);
}
#img6{
    background-image: url(imagens/tenis6.jpg);
}

/* Footer Rodapé */
footer{
    background-color: #233261;
    color: #fff;
    width: 100%;
    height: 10vh;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #132761;
}