@charset "UTF-08";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
 
/* Cabeçalho */
header{
    background-color: #18235C;
    color: #fff;
    font-size: 1.5em;
    width: 100%;
    height: 10vh;
    text-align: center;
    margin: auto;
    padding: 6px;
    border-bottom: 2px solid #132761;
    position: fixed;
}

/*Corpo Galeria */
.container{
    background-color: #eee;
    min-height: 60vh;
    padding: 50px;
}
.product-container{
    max-width: 1200px;
    margin:  0 auto;
    
}

.cards{
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
    overflow: hidden;
}

.imagens{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}
.imagens:hover{
   transition: 0.5s ease-in-out;
   transform: scale(1.1);
}
h3{
    color: #18235C;
    margin: 5px;
    font-style: bold;
}
p{
    padding: 2px;

}

#img1{
    background-image: url(imagens/tenis1.jpg);
}
#img2{
    background-image: url(imagens/tenis2.jpg);
}
#img3{
    background-image: url(imagens/tenis3.jpg);
}
#img4{
    background-image: url(imagens/tenis4.jpg);
}
#img5{
    background-image: url(imagens/tenis5.jpg);
}
#img6{
    background-image: url(imagens/tenis6.jpg);
}

.btn{
    display: block;
    background-color: #18235C;
    color: #fff;
    margin-top: 2px;
    padding: 14px;
    text-align: center;
    font-size: 1.2em;
    height: 50px;
    width: 100%;
    text-decoration: none;
    transition: 0.5s;

}

.btn:hover{
    background-color:#2C41A9;
}
/* Footer Rodapé */
footer{
    background-color: #18235C;
    width: 100%;
    height: 10vh;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #132761;
}
footer h3 {
    color: #fff;
}